@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "../../vendor/twbs/bootstrap/scss/functions";
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "./navbar";

// Create your own map
$custom-colors: (
    "blue-600": #1C64F2,
    "emerald-500":#00BC7DFF,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

:root {
    --blue-600: #1C64F2;
    --emerald-500: #00BC7DFF;
    --bs-success: red;
}

@import "../../vendor/twbs/bootstrap/scss/bootstrap";
@import "navbar";
@import "card_product";
@import "form";

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65)
}

.progress-bar {
    background: var(--blue-600);
}


.hero-90, .carousel-hero, .hero-overlay {
    height: 90vh;
}

.hero-overlay {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.83));
    bottom: 0;
}

.btn-lg {
    --bs-btn-font-weight: 600;
    --bs-btn-border-width: 2.5px;
}

.btn-outline-light {
    --bs-btn-hover-color: var(--blue-600);
    --bs-btn-active-color: var(--blue-600);
}

.btn-emerald-500 {
    --bs-btn-bg: var(--emerald-500);
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
    --bs-btn-hover-bg: oklch(59.6% 0.145 163.225);
    --bs-btn-border-color: var(--emerald-500);
    --bs-btn-hover-border-color: oklch(59.6% 0.145 163.225);
}

.card, th, td {
    color: rgba(0, 0, 0, 0.65) !important;
}

.card-img-category {
    transform-origin: center center;
    transition: transform .5s ease-in-out;
}

.card-category:hover .card-img-category {
    transform: scale(1.2);
}

.title-card-category {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.83));
}
